* {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 25%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.App-link {
  color: #61dafb;
}

.velocidade{
  font-size: 15px;
}

.upgrades{
  display: flex;
  align-items: center;
}

.upgrades p{
  padding-left: 15px;
}

.butCarrinho{
  min-width: 56px;
  min-height: 56px;
}

.preco{
  font-size: 13px;
  position: absolute;
  text-align: left;
  margin-bottom: 10px;
}

.item{
  margin-top: 25px;
  padding-top: 15px;
  font-size: 25px;
  margin-bottom: 25px;
}

.carrinho{
  width: 60%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
